<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>API Discovery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="<%= require('./img/favicon.png') %>" type="image/x-icon">

  <% htmlWebpackPlugin.files.css.forEach(style => { %>
  <link rel="stylesheet" href="<%= style %>">
  <% }) %>
</head>
<body>
<main id="swagger-ui">
</main>
<% htmlWebpackPlugin.options.scripts.forEach(script => { %>
<script <%= Object.keys(script).map(key => `${key}="${script[key]}"`).join(' ') %> defer></script>
<% }) %>
<% htmlWebpackPlugin.files.js.forEach(script => { %>
<script src="<%= script %>" defer></script>
<% }) %>
</body>
</html>
