/**
 * Global layout.
 */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/**
 * Fix swagger-ui styles.
 */
.swagger-container .swagger-ui {
  padding: 0 16px;
}

.swagger-container.swagger-ui .info {
  padding: 0 16px;
}

.swagger-ui .wrapper {
  padding: 0px !important;
}

#swagger-ui .container {
  padding: 0 20px !important;
}

.swagger-ui .scheme-container {
  padding: 20px 10px 10px 10px !important;
}

.swagger-ui .title small {
  color: #FAFAFA !important;
  background: #BDBDBD !important;
}

.swagger-ui .title small:hover {
  cursor: pointer;
  background: #BBDEFB !important;
}

.swagger-ui .title small.selected {
  color: #FFFFFF !important;
  background: #5091E6 !important;
}

.swagger-ui .title .version {
  font-size: 1.6em !important;
  padding: 2px !important;
}

@media (max-width: 1024px) {
  .topbarTitle {
    font-size: 0.75em;
  }
}

@media (max-width: 768px) {
  .topbarTitle {
    display: none;
  }
}

/**
 * Disable swagger-ui elements
 */
.swagger-ui .try-out__btn {
  display: none;
}

/**
 * API selector box.
 */
.topbar .Select {
  width: 100%;
}

/**
 * Clearfix.
 */
@media (max-width: 768px) {
  .line-break-768 {
    width: 100%;
    margin: 10px 0;
    display: block;
  }
}
