<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>API Discovery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="configuration" content="<%= locals.configuration %>">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">

  <% locals.files.css.forEach(css => { %>
  <link rel="stylesheet" href="/static/<%= css %>">
  <% }) %>
</head>
<body>
<main id="swagger-ui">
</main>
<% locals.scripts.forEach(script => { %>
<script <%- Object.keys(script).map(key => `${key}="${script[key]}"`).join(' ') %> defer></script>
<% }) %>
<% locals.files.js.slice().sort().forEach(js => { %>
<script src="/static/<%= js %>" defer></script>
<% }) %>
</body>
</html>
